@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Signika:wght@300..700&display=swap');

@font-face {
  font-family: myFont1;
  src: url(/Assets/Fonts/ClashDisplay-Medium.ttf);
}

@font-face {
  font-family: myFont2;
  src: url(/Assets/Fonts/SFPRODISPLAYREGULAR.OTF);
}

/* Color_Codes
#06080c
#116feb */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #06080c;
  
}

/* HEADER SECTION */
header {
  background: #06080c;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 40px;
  margin-top: -55px;
}

header img {
  padding-top: 50px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* NAVBAR SECTION */
.navbar {
  overflow: hidden;
  margin-left: 80px;
  margin-right: 80px;
  padding: 10px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar a {
  color: #b7b7b7;
  font-family: myFont1;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 15px;
  text-align: center;
  /* flex-grow: 1; */
  box-sizing: border-box;
  min-width: 0;
  border-radius: 10px;
}

.navbar a#contac {
  color: #b7b7b7;
  font-family: myFont1;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 40px;
  text-align: center;
  /* flex-grow: 1; */
  box-sizing: border-box;
  min-width: 0;
  border-radius: 10px;
  border: 1px solid;
  border-color: #116feb;
}

.navbar a:hover {
  background-color: #b7b7b7;
  color: black;
  transition: ease-in-out 0.5s;
}

.navbar a#contac:hover {
  background-color: #b7b7b7;
  color: black;
  transition: ease-in-out 0.5s;
  border: 1px solid;
  border-color: #b7b7b7;
}

/*FOOTER SECTION*/
.footer-container {
  font-family: myFont2;
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  padding: 20px 0;
  border-top: 2px solid #333;
  margin-left: 133px;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #b7b7b7;
}

.footer-column p,
.footer-column a {
  font-size: 20px;
  color: #b7b7b7;
  text-decoration: none;
  line-height: 1.5;
}

.footer-column a:hover {
  color: #ffffff;
}

.logo {
  margin-top: 70px;
}

.boxxonia_story {
  font-family: myFont1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #fff;
}

.boxxonia_story .nav-left,
.nav-right {
  display: flex;
  gap: 15px;
}

.boxxonia_story h1 {
  font-size: 48px;
  color: #f6b62b; /* Mustard-yellow color */
  font-weight: bold;
  letter-spacing: 2px;
}

.main_min_content {
  background: url(/Assets/boxxo_story.png);
}

.main_content {
  font-family: myFont2;
  max-width: 1050px;
  margin: 40px auto;
  padding: 0 20px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #b7b7b7;
  font-family: myFont2;
}

.boxonians_container {
  background-color: #06080c;
}



.boxonians_container .boxonians {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #fff;
  
}

.boxonians_container .boxonians .nav-left,
.nav-right {
  display: flex;
  gap: 15px;
}

.boxonians_container .boxonians h1 {
  font-size: 48px;
  color: #b7b7b7; /* Mustard-yellow color */
  font-weight: bold;
  letter-spacing: 2px;
  font-family: myFont1;
}




.boxonians_container .boxonians_team {
  width: 90%;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.image-container {
  flex: 0 0 300px; /* Fixed width for the image */
  margin-right: 30px;
  margin-left: 40px;
}

.image-container img {
  width: 168px;
  height: 290px;
  margin-top: 30px;
  margin-left: 40px;
}

.text-content {
  flex: 1;
  line-height: 1.4;
}

.text-content p {
  line-height: 1.4;
  font-size: 20px;
  font-family: myFont2;
}







.news_update_container {
    width: 85%;
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  
  .news-box {
    background-color: #6c4c0852;
    border: 1px solid #f6b62b;
    border-radius: 30px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
    color: #fff;
    padding: 60px;
  }
  
  .news-box h1 {
    font-family: myFont1;
    margin: 0;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }
  
  .bell-icon {
    width: 290px;
    height: 230px;
  }
  
  .news-box ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .news-box ul li {
    font-family: myFont2;
    margin: 10px 0;
    font-size: 20px;
    line-height: 2;
    border-bottom: 1px solid #f6b62b;
    padding-bottom: 7px;
  }
  
  .news-box ul li:last-child {
    border-bottom: none;
  }
  
  .news-box ul li a {
    font-family: myFont2;
    color: #fff;
    text-decoration: none;
  }
  
  .news-box ul li a:hover {
    text-decoration: underline;
  }



  .news_update_container .imagonic {
    width: 100%;
  }
  
  .news_update_container .imagonic img{
    width: 150px;
    height: 130px;
    padding-right: 917px;
    position: absolute;
    top: 350px;
  }
  